<div class="container">
    <h1 *ngIf="role === 'administrator'">Admin Account Approval Page</h1>
    <h1 *ngIf="role === 'librarian'">Account Approval Page</h1>

    <table class="table table-striped table-bordered table-sm row-border hover">
        <thead>
            <th>Number</th>
            <th>UserID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Role</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ user.userId }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.emailAddress}}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.roleName}}</td>
                <td class="w-25">
                    <button type="button" (click)="approve(user.userId, user.emailAddress)" class="btn btn-success">Approve</button>
                </td>
                <td class="w-25">
                    <button type="button" (click)="reject(user.userId, user.emailAddress)" class="btn btn-danger">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
 </div>