table {
    margin: 0;
}

.loan {
    border: 1px solid gray;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.buttons {
    margin: 1rem 0;
}

.form-check-input:focus {
    border-color: #bfbfbf;
    box-shadow: none;
}

.search-input {
    width: 75%;
}

.search-input:not(:placeholder-shown) + button{
    display: block;
}

.search-button {
    width: 25%;
    height: 100%;
    display: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    display: block;
}

.buttons button {
    margin-right: 1rem;
}